//通用变量声明
//1.所有蓝底字的颜色酱
@blue-bg-font : #3B3B3B;
//2.背景色君
@bg-color : #F4F4F4;
//3.搜索按钮颜色
@search-color: #F6A22E;
//4.hr颜色
@hr-color: #30B3A6;
//5.导航栏颜色
@header-color: #FCFCFC;
//蓝色文字
@strong: #38B3FF;
//表格一行的默认高度
@tr-height: 29px;
//input,textarea,select 背景色
@text-bg: #fafafa;
//输入类框边框色
@border-clr: #ddd;

@import "base";
@import "table";
@import "admin_additional";

//创建选项卡导航栏类
ul.nav-tabs {
	.nav-tabs();
}

//创建选项卡内容类
div.tab-content {
	.tab-content();
}

//创建下拉列表类
.select-down {
	.select-down();
}

input,
textarea {
	background-color: @bg-color;
	border: solid 1px #e9e9e9;
	font-size: 18px;
	color: #3c3c3c;
}

input {
	padding: 0 5px;
}
textarea {
	padding: 5px;
	resize: none;
	overflow: auto;
}

.btn {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 25px;
	background-color: @strong;
	color: white;
	border: none;
	.border-radius(4px);
	cursor: pointer;
}

.down {
	display: inline-block;
	.size(5px,9px);
	border: none;
	vertical-align: middle;
	background-image: url("../img/list_button.png");
}

.up {
	display: inline-block;
	width: 9px;
	height: 5px;
	vertical-align: middle;
	background-image: url("../img/list_button_up.png");
}

body {
	margin: 0;
	padding: 0;
	background-color: @bg-color;
	color: #3c3c3c;
}
.Down {
	display: inline-block;
	.size(14px,28px);
	border: none;
	vertical-align: middle;
	background-image: url("../img/down.png");
}

.Up {
	display: inline-block;
	.size(14px,28px);
	border: none;
	vertical-align: middle;
	background-image: url("../img/up.png");
}

.hidden {
	display: none;
}

.partion-h {
	display: inline-block;
	.size(3px,40px);
	background-color: #3c3c3c;
}

.checkbox {
	.checkbox();
}

body {
	margin: 0;
	padding: 0;
	background-color: @bg-color;
	color: #3c3c3c;
}

a {
	color: #3c3c3c;
}

hr {
	width: 100%;
	border:0;
	background-color:#eee;
	height:2px;
	.box-shadow(0 4px 10px 0 @border-clr);
}

h3 {
	font-size: 28px;
	color: @strong;
	font-weight: 500;
	text-align: center;
	padding: 15px 0 20px 0;
	background-color: white;
}

.submit-footer {
	background-color: @bg-color;
	padding: 20px 0;
	text-align: center;

	.btn {
		margin: 0 20px;
	}

	input.btn,
	button.btn {
		margin-bottom: 4px;
	}
}

.container {
	margin: 0 auto;
	width: 960px;
}

.table {
	font-size: 16px;
	caption {
		height: 50px;
		text-align: left;
		padding-left: 10px;
		color: @strong;
		font-size: 28px;
		line-height: 50px;
		background-color: white;
	}

	thead tr {
		border-left: solid 4px @strong;
		border-right: solid 4px @strong;
	}

	td,
	th {
		.avoid-overflow;
	}

	td {
		background-color: white;
		height: @tr-height;
		line-height: @tr-height;
		max-width: 60px;
	}

	a {
		text-decoration: underline;
		cursor: pointer;
		
	}
}

.active {
	background-color: @bg-color;
}
.footer{
	color:#777;
	//black version
	//background-color: #2E2E2E;
	//color: #FFF;
	height: 58px-15*2;
	text-align: center;
	padding: 15px;
}

.header{
	width: 100%;
	background-color: @header-color;
	color: @blue-bg-font;
	font-size: 16px;
	line-height: 20px;
	.box-shadow(0 0 0 4px #EEE);
	.i-c{
		display: inline-block;
	}
	a {
		color: #3c3c3c;
	}

	.panel{
		width: 270px;
		padding: 15px;
		float: right;
		> div{
			cursor: pointer;
			a{
				color: @blue-bg-font;
			}
		}
		.return{
			background-color: @strong;
			color: white;
			padding: 3px 20px;
			cursor: pointer;
			display: inline-block;
			margin-right: 10px;
			max-width: 120px;
			.avoid-overflow();
		}
		.admin-name{
			font-size: 24px;
			vertical-align: top;
			text-align: right;
			padding:3px 10px;
			display:inline-block;
			color:@strong;
			font-weight: bold;
			.avoid-overflow();
			width: 120px;
		}

	}

}

.error {
	border-color: @error-clr;
	.box-shadow(0 0 8px 0 @error-clr);
}

.correct {
	border-color: @correct-clr;
	.box-shadow(0 0 8px 0 @correct-clr);
}


.wrapper {
	padding-top: 50px;

	> .container {
		a {
			color: #3c3c3c;
		}
		ul.slide-bar {
			width: 195px;

			li {
				height: 40px;
				margin-bottom: 1px;
				background-color: white;
				font-size: 20px;
				line-height: 40px;
				text-align: center;

				a {
					display: inline-block;
					width: 100%;
				}

				&:hover {
					background-color: @strong;

					a {
						color: white;
					}
				}
			}

			li.active {
				background-color: @strong;

				a {
					color: white;
				}
			}
		}

		> div {
			width: 745px;
			.Up,
			.Down {
				margin-top: 10px;
			}

			.checkbox {
				margin-top: 5px;
			}

			&.add-tab {
				> div {
					margin-top: 50px;
					background-color: white;

					.submit-footer {
						padding: 20px 0;
					}

					input[type="text"] {
						.size(30px,587px);
						line-height: 30px;
					}

					input[type="password"] {
						.size(30px,240px);
						line-height: 30px;
					}

					span {
						display: inline-block;
						.size(30px,95px);

						&.select-down-span {
							.size(23px,93px);
						}
					}

					hr {
						margin-bottom: 20px;
					}

					.select-down-select {
						.size(29px,103px);
					}

					[class*="row"] {
						height: 30px;
						line-height: 30px;
						margin-bottom: 20px;
						padding: 0 20px;

						.select-down {
							margin-right: 16px;
							&.last-child {
								margin-right: 0;
							}
						}

						&.row4 .select-down,
						&.row5 .select-down {
							.select-down(25px,110px);
						}

						&.row6 {
							height: 200px;
							line-height: 200px;

							span {
								line-height: 30px;
							}

							textarea {
								.size(188px,590px);
							}
						}

						&.row7 {
							height: 120px;
							line-height: 120px;

							span {
								line-height: 30px;
							}

							textarea {
								.size(108px,590px);
							}
						}
					}
				}
			}

			&.add-course {
				background-color: white;

				[class*="row"] {
					margin-bottom: 20px;
					padding: 0 20px;
				}

				span {
					display: inline-block;
					.size(30px,100px);
					vertical-align: middle;
					line-height: 30px;
				}

				.select-down {
					.select-down(25px,80px);
				}

				.row1 {
					input {
						.size(28px,588px);
						line-height: 28px;
					}
				}

				.row2,
				.row3 {
					input {
						.size(28px,240px);
						line-height: 28px;
					}

					.btn {
						margin-left: 20px;
						vertical-align: middle;
					}
				}

				.row5 {
					height: 200px;
					line-height: 200px;

					a {
						text-decoration: underline;

						&.btn {
							text-decoration: none;
						}
					}

					textarea {
						.size(188px,245px);
					}

					> div {
						display: inline-block;
						height: 80px;
						width: 335px;
						line-height: 100px;
						vertical-align: bottom;

						input[type="text"] {
							.size(28px,303px);
							margin-left: 23px;
							line-height: 28px;
						}

						input[type="file"] {
							.size(28px,50px);
							line-height: 28px;
						}

						.row {
							height: 30px;
							margin-top: 15px;
							line-height: 0;
							vertical-align: bottom;
							padding: 0 0 0 23px;

							.btn {
								margin-left: 36px;
							}
						}
					}
				}

				.row6 {
					height: 125px;
					line-height: 125px;
					textarea {
						.size(113px,588px);
					}
				}
			}

			&.authority,
			&.password {
				> div {
					background-color: white;

					span {
						display: inline-block;
						.size(32px,80px);
						vertical-align: middle;
						line-height: 32px;
					}

					input[type="text"],
					input[type="password"] {
						.size(30px,195px);
						line-height: 30px;
					}

					.submit-footer {
						background-color: white;
						.btn {
							margin-left: 90px;
						}
					}

					h3 {
						padding-bottom: 15px;
						border-bottom: solid 1px @bg-color;
						margin-bottom: 35px;
					}

					.row {
						margin-top: 25px;
						text-align: center;

						.select-down {
							.select-down(30px,195px);
							text-align: left;
						}
					}
				}
			}

		}
	}
}

&.add-problem {
	.vertical-middle {
		line-height: 205px;
	}

	.submit-footer {
		padding: 0;
	}

	.add-problem-form > div {
		background-color: white;
		margin-bottom: 25px;

		&.submit-footer {
			background-color: @bg-color;
		}

		&:first-child {
			padding-bottom: 1px;
			.row {
				padding: 0 20px;
				margin-bottom: 20px;
			}
		}

		ul.nav-tabs {
			background-color: @bg-color;
			width: 100%;
		}

		.tab-pane {
			background-color: white;
		}

		.row {
			span {
				display: inline-block;
				.size(40px,95px);
				line-height: 40px;
			}
		}

		input[name="title"] {
			.size(40px,590px);
			line-height: 40px;
		}

		input[name="time-limit"],
		input[name="memory-limit"] {
			.size(40px,236px);
			line-height: 40px;
		}

		.tab-content div[id *= "tab1"] textarea {
			.size(205px,694px);
		}

		.tab-content div[id *= "tab2"] textarea {
			.size(205px,230px);
		}
	}
}